<%= render "shared/second-header"%>

<%= form_with model: @address, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>

  <%= render 'devise/shared/error_messages', model: f.object %>
    
  <%# 配送先の入力 %>
  <div class='shipping-address-form'>
    <%# <h1 class='info-input-haedline'>
      配送先入力
    </h1> %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">郵便番号</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">都道府県</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">市区町村</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区"%>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">番地</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :address_line, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1"%>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">建物名</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">電話番号</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）09012345678"%>
    </div>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      「会員登録」のボタンを押すことにより、
      <span>利用規約</span>
      <br>に同意したものとみなします
    </h2>
  </div>  
  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>  
</div>
<% end %>

<%= render "shared/second-footer"%>
